<div class="card p-2 pb-4">
    <swiper-container class="mySwiper" style="width: 600px; height: 300px;" speed="500" loop="true" autoplay="{'delay': 2500, 'disableOnInteraction': false}" >
        <swiper-slide><img src="/assets/img1.png" class="img-fluid" alt=""></swiper-slide>
        <swiper-slide><img src="/assets/img2.png" class="img-fluid" alt=""></swiper-slide>
        <swiper-slide><img src="/assets/img1.png" class="img-fluid" alt=""></swiper-slide>
        <swiper-slide><img src="/assets/img2.png" class="img-fluid" alt=""></swiper-slide>
    </swiper-container>
</div>

  