<app-sidebar>
    <div>
      <div *ngIf="objeto.usuario?.tipo === 'instituicao' && objeto.instituicao?.confirmed !== true" class="row gap-3 gap-xl-0">
        <div class="col-xl-5 px-3 px-xl-2">
          <div class="card">
            <div class="card-body p-4">
              <div class="row align-items-center">
                <div class="col">
                  <span>
                    <i class="bi bi-exclamation-octagon exclamation p-3 rounded-4"></i>
                  </span>
                </div>
                <div class="col-auto">
                  <h4 class="mt-4 mb-2 fw-semibold text">Instituição não cadastrada!</h4>
                  <p class="text-muted mb-1 pb-1 second">Cadastre para acompanhar e gerenciar suas unidades, essa etapa é fundamental.</p>
                  <p class="text-muted mb-1 pb-1 second">Algumas observações:</p>
                  <ul>
                    <li class="text-muted mb-1 pb-1 second">Instituição é única e universal;</li>
                    <li class="text-muted mb-1 pb-1 second">Uma unidade é qualquer divisão lógica ou física que você deseje fazer da sua instituição de ensino;</li>
                    <li class="text-muted mb-1 pb-1 second">Nada impede, por exemplo, que no mesmo endereço funcionem duas ou mais unidades;</li>
                    <li class="text-muted mb-1 pb-1 second">Exemplo de criação:
                      <ul>
                        <li class="text-muted mb-1 pb-1 second">Instituição: Centro Educacional Escolinha do Sol</li>
                        <li class="text-muted mb-1 pb-1 second">Unidade: Brasília</li>
                        <li class="text-muted mb-1 pb-1 second">Visualização: Centro Educacional Escolinha do Sol - Brasília</li>
                      </ul>
                    </li>
                  </ul>
                  <p class="text-muted mb-1 pb-1 second">Se a sua instituição possui apenas uma unidade:</p>
                  <ul>
                    <li class="text-muted mb-1 pb-1 second">Sem problemas, utilize apenas o painel da unidade;</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-xl-7 px-3 px-xl-2">
          <div class="card mh-100 h-100">
            <div class="card-body p-4">
              <div class="row d-flex align-items-center mb-4">
                <div class="col-auto">
                  <span>
                    <i class="bi bi-plus-circle plus p-3 rounded-5"></i>
                  </span>
                </div>
                <div class="col">
                  <h4 class="my-0 fw-semibold text">Cadastrar Instituição e Unidade:</h4>
                  <p class="text-muted mb-1 second">Confirme informações e configure sua primeira unidade</p>
                </div>
              </div>
              <div class="row my-3 px-0 px-xl-5">
                <div class="card px-xxl-3 px-0 py-2">
                  <div class="card-body">
                    <form [formGroup]="form_instituicao_unidade">
                      <div class="container">
                        <div class="row g-3 pb-2">
                          <div class="col-xl-12">
                            <label for="exampleInputName1" class="form-label">Nome Instituição</label>
                            <input type="text" class="form-control" id="exampleInputName1" formControlName="nome_instituicao">
                            <app-msg-erro [control]="obterControle('nome_instituicao')"></app-msg-erro>
                          </div>
                        </div>
                        <hr class="w-100 m-auto my-3">
                        <div class="row g-3 pb-2">
                          <div class="container d-flex justify-content-center">
                            <span class="form-label mt-3">Unidade</span>
                          </div>
                          <div class="col-xl-6 col-12">
                            <label for="exampleInputUnidade1" class="form-label">Nome Unidade</label>
                            <input type="text" class="form-control" id="exampleInputUnidade1" formControlName="nome_unidade">
                            <app-msg-erro [control]="obterControle('nome_unidade')"></app-msg-erro>
                          </div>
                          <div class="col-xl-6 col-12">
                            <label for="exampleInputFone1" class="form-label">Telefone</label>
                            <input type="phone" mask="(00) 00000-0009" class="form-control" id="exampleInputFone1" formControlName="telefone_unidade">
                            <app-msg-erro [control]="obterControle('telefone_unidade')"></app-msg-erro>
                          </div>
                        </div>
                        <div class="row g-3 pb-2">
                          <div class="col-12">
                            <label for="exampleInputEndereco1" class="form-label">Endereço</label>
                            <input type="text" class="form-control" id="exampleInputEndereco1" formControlName="endereco_unidade">
                            <app-msg-erro [control]="obterControle('endereco_unidade')"></app-msg-erro>
                          </div>
                        </div>
                        <div class="row g-3 pb-2">
                          <div class="col-xl-6 col-12">
                            <label for="exampleInputEstado1" class="form-label">Estado</label>
                            <select class="form-select" id="exampleInputEstado1" formControlName="estado_unidade">
                              <option *ngFor="let estado of estados" [value]="estado.nome">{{ estado.sigla }}</option>
                            </select>
                            <app-msg-erro [control]="obterControle('estado_unidade')"></app-msg-erro>
                          </div>
                          <div class="col-xl-6 col-12">
                            <label for="exampleInputCidade1" class="form-label">Cidade</label>
                            <input type="text" class="form-control" id="exampleInputCidade1" formControlName="cidade_unidade">
                            <app-msg-erro [control]="obterControle('cidade_unidade')"></app-msg-erro>
                          </div>
                        </div>
                        <div class="row g-3 pb-2">
                          <div class="col-xl-6 col-12">
                            <label for="exampleInputBairro1" class="form-label">Bairro</label>
                            <input type="text" class="form-control" id="exampleInputBairro1" formControlName="bairro_unidade">
                            <app-msg-erro [control]="obterControle('bairro_unidade')"></app-msg-erro>
                          </div>
                          <div class="col-xl-6 col-12">
                            <label for="exampleInputCep1" class="form-label">CEP</label>
                            <input type="text" mask="00000-000" class="form-control" id="exampleInputCep1" formControlName="cep_unidade">
                            <app-msg-erro [control]="obterControle('cep_unidade')"></app-msg-erro>
                          </div>
                        </div>
                      </div>
                      <div class="row d-flex justify-content-end mt-3">
                        <div class="col-xl-6">
                          <button [disabled]="form_instituicao_unidade.invalid"
                                  [ngClass]="form_instituicao_unidade.valid ? 'btn-primary' : 'btn-outline-primary'"
                                  type="submit" class="btn w-100" (click)="salvarInstituicaoUnidade()">Cadastrar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="objeto.usuario?.tipo === 'instituicao' && objeto.instituicao?.confirmed! == true" class="row gap-3 gap-xl-0">
        <div class="row d-flex align-items-center mb-4">
          <div class="col-auto">
            <span>
              <i class="bi bi-globe icon-prin p-2 rounded-2"></i>
            </span>
          </div>
          <div class="col">
            <div class="row">
              <div class="col-12 d-flex align-items-center">
                <h4 class="my-0 fw-semibold text text-capitalize">{{objeto.instituicao?.nome}}</h4>
                <a><i class="bi bi-chevron-down ms-2"></i></a>
                <i class="bi bi-info-circle ms-2"></i>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-xl-5 px-0 px-xl-2">
          <div class="card">
            <div class="card-body">
              <!-- Conteúdo adicional pode ser adicionado aqui -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-sidebar>
  